@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@Html.Partial("~/Views/Shared/_demopartial.cshtml")


<a href ="/demo/index">Press Me</a>
<a href = "/group/index">Press Me 2</a>